<main class="card card--light">

  <!-- Question -->
  <h3 class="border">{{model.poll.prompt}}</h3>
  <div class="border">
    <div class="grid group">

      <!-- Answers -->
      <div class="card-content grid-box grid-box--3of5">
        <ul class="list list--answer">
          {{#each model.poll.options as |option|}}
            <li class="list-item">
              <button class="list-item-checkbox {{if (eq model.option option) "is-selected"}}" {{action "toggleOption" model option}}>
                <b class="srt">Select</b>
              </button>
              <span>{{option.label}}</span>
            </li>
          {{/each}}
        </ul>

      </div>

      <!-- Preview -->
      <div class="grid-box grid-box--2of5">
        <img width="130" class="icon" alt="" src="/assets/images/icon-flame.svg">
      </div>

    </div> <!-- /grid -->
  </div> <!-- /border -->

  <div class="grid group actions">

    <div class="grid-box grid-box--3of4">
      <a class="btn btn--primary btn--vote" {{action "castVote" model}}>Vote!</a>
    </div>

    <div class="grid-box grid-box--1of4 results">
      {{#link-to "polls.poll.results" class='btn btn--secondary btn--results'}}Results{{/link-to}}
    </div>

  </div> <!-- /grid -->
</main>
